
<!DOCTYPE html>
<html>
  <body>
    <h1>Hello, {{name}}!</h1>
    <p>Thank you for using {{product}}.</p>
    <p>Additional Details: {{offerDetails}}</p>
    <a href="{{resetLink}}">Reset your password</a>
  </body>
</html>
