.header {
  text-align: center;
}
.video {
  width: 30%;
  margin-left: 700px;
}

.div-intro {
  margin-top: 50px;
  width: 70%;
  height: 100%;
}
.div-intro .div-information {
  width: 250px;
  position: relative;
  top: -220px;
}
#signup {
  margin-left: 15%;
  margin-top: -100px;
}
th {
  color: blueviolet;
}
.sign-up-label {
  background-color: aqua;
  width: 300px;
}

li {
  color: red;
  padding-left: 1%;
}
