/* handle responsiveness */
/*  you do not need to repeat all the styles defined in the original class unless you want to override or adjust specific properties. 
The styles defined in the media query will add to or override the existing styles from the base class. */
@media screen and (max-width: 1200px) {
  /* when the screen-width is lower the 1200px the desktop-nav disappears */
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: flex;
    /* Override display: none to make it visible on smaller screens */
    /* You only need to specify properties that you want to change or add */

    /* justify-content: space-around;
  align-items: center;
  height: 17vh; */
    /* its already applied to the nav element so i dont need to apply it to the class mobile-nav since it will be added straight away when giving it flex */
  }
}
